<style>
  #msg {
    opacity: 0;
    transition: opacity 0.5s ease; /* mượt trong 0.5s */
  }

  #msg.show {
    opacity: 1;
  }
</style>
<div class="container-fluid">
  <!-- Hiển thị Breadcrumb -->
  <div class="row mt-2 ms-1 me-1">
    <ul class="breadcrumb rounded">
      <li><a href="#">Home</a></li>
    </ul>
  </div>
  <!-- Nội dung chính -->
  <div class="row mt-2 mb-2 d-flex justify-content-between">
    <!-- Form tạo ticket cho người đăng nhập -->
    <div class="col-12" id="makeOwnTicket">
      <div class="card shadow">
        <div
          class="card-header d-flex justify-content-between bg-primary text-center text-white"
        >
          <h5 class="mt-2">Tạo yêu cầu</h5>
          <button
            class="btn btn-outline-warning"
            onclick="switchToPartnerForm()"
          >
            Tạo yêu cầu cho người khác
          </button>
        </div>
        <div class="card-body">
          <form id="addOwnTicket">
            <div class="row d-md-flex">
              <div class="col-md-6">
                <div class="form-group mb-4 me-3">
                  <label for="computer_id">Computer</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="computer_id"
                  >
                    <option selected>Open this select menu</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4 ms-3">
                  <label for="type">Type</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="type"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">Repair</option>
                    <option value="2">Setup</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="description" class="form-label">Description:</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="5"
                ></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mt-3 mb-1">
                Gửi yêu cầu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Form tạo ticket cho người khác -->
    <div class="col-12 d-none" id="makePartnerTicket">
      <div class="card shadow">
        <div
          class="card-header d-flex justify-content-between bg-primary text-center text-white"
        >
          <h5 class="mt-2">Tạo yêu cầu</h5>
          <button class="btn btn-outline-warning" onclick="switchToOwnForm()">
            Tạo yêu cầu cho bản thân
          </button>
        </div>
        <div class="card-body">
          <form id="addPartnerTicket">
            <div class="row d-md-flex">
              <div class="col-md-6">
                <div class="form-group mb-4 me-3">
                  <label for="departmentList">Department</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="departmentList"
                  >
                    <option selected>Open this select menu</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4 ms-3">
                  <label for="partner_user_id">User</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="partner_user_id"
                  >
                    <option selected>Open this select menu</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row d-md-flex">
              <div class="col-md-6">
                <div class="form-group mb-4 me-3">
                  <label for="partner_computer_id">Computer</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="partner_computer_id"
                  >
                    <option selected>Open this select menu</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4 ms-3">
                  <label for="partner_type">Type</label>
                  <select
                    class="form-select mt-2"
                    aria-label="Default select example"
                    id="partner_type"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">Repair</option>
                    <option value="2">Setup</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="partnet_description" class="form-label"
                  >Description:</label
                >
                <textarea
                  class="form-control"
                  id="partnet_description"
                  rows="5"
                ></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mt-3 mb-1">
                Gửi yêu cầu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal info -->
  <div
    class="modal fade"
    id="infoModal"
    tabindex="-1"
    aria-labelledby="infoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="infoModalLabel">
            Thông tin Department
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- JS DataTable -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.js"></script>

  <!-- JS Load danh sách departments cho form gửi hộ y/c cho người khác -->
  <script src="/js/loadDepartmentList.js"></script>
</div>
<script>
  // Chuyển sang form gừi yêu cầu cho người khác
  async function switchToPartnerForm() {
    document.getElementById("makeOwnTicket").classList.add("d-none");
    document.getElementById("makePartnerTicket").classList.remove("d-none");
  }
  // Trở lại form chính
  async function switchToOwnForm() {
    document.getElementById("makePartnerTicket").classList.add("d-none");
    document.getElementById("makeOwnTicket").classList.remove("d-none");
  }
  // Gán dữ liệu cho form chính
  document.addEventListener("DOMContentLoaded", () => {
    fetch("/computers/getComputerListByUserId")
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          const select = document.getElementById("computer_id");
          select.innerHTML = '<option value="">-- Chọn máy tính --</option>';
          data.data.forEach((computer) => {
            const opt = document.createElement("option");
            opt.value = computer.id;
            opt.textContent = computer.name;
            select.appendChild(opt);
          });
        }
      })
      .catch((err) => console.error("Lỗi fetch:", err));
  });

  // Gán dữ liệu cho form gửi yêu cầu hộ
  //Load danh sách user theo department
  async function loadUserByDept(deptId) {
    try {
      const res = await fetch(`/computers/getUserByDept/${deptId}`);
      const userListByDept = await res.json();

      const selectUser = document.getElementById("partner_user_id");
      selectUser.innerHTML = "";

      const defaultOption = document.createElement("option");
      defaultOption.value = "";
      defaultOption.textContent = "Chọn user";
      selectUser.appendChild(defaultOption);

      if (userListByDept.success && Array.isArray(userListByDept.data)) {
        userListByDept.data.forEach((user) => {
          const opt = document.createElement("option");
          opt.value = user.id;
          opt.textContent = user.name;
          selectUser.appendChild(opt);
        });
      } else {
        console.warn("Không có user nào thuộc phòng ban:", userListByDept);
        showMessage("danger", data.message);
      }
    } catch (err) {
      console.error("Lỗi tải dữ liệu:", err);
      showMessage("danger", data.message);
    }
  }
  // Bắt sự kiện khi chọn department -> load danh sách user của department được chọn
  document
    .getElementById("departmentList")
    .addEventListener("change", function () {
      const deptId = this.value;
      if (deptId) {
        loadUserByDept(deptId);
      } else {
        document.getElementById("partner_user_id").innerHTML =
          '<option value="">Chọn user</option>';
      }
    });

  // Load danh sách computer theo user
  async function getComputerListByUserId(user_id) {
    try {
      const res = await fetch(
        `/computers/fetchComputerBySelectedUser/${user_id}`
      );
      const computerListByUser = await res.json();

      const selectComputer = document.getElementById("partner_computer_id");
      selectComputer.innerHTML = "";

      const defaultOption = document.createElement("option");
      defaultOption.value = "";
      defaultOption.textContent = "Chọn computer";
      selectComputer.appendChild(defaultOption);

      if (
        computerListByUser.success &&
        Array.isArray(computerListByUser.data)
      ) {
        computerListByUser.data.forEach((com) => {
          const opt = document.createElement("option");
          opt.value = com.id;
          opt.textContent = com.name;
          selectComputer.appendChild(opt);
        });
      } else {
        console.warn("Không có computer nào cho user:", computerListByUser);
      }
    } catch (err) {
      console.error("Lỗi tải dữ liệu:", err);
    }
  }
  // Bắt sự kiện chọn user -> load danh sách máy tính
  document
    .getElementById("partner_user_id")
    .addEventListener("change", function () {
      const user_id = this.value;
      if (user_id) {
        getComputerListByUserId(user_id);
      } else {
        document.getElementById("partner_user_id").innerHTML =
          '<option value ="">Chọn computer</option>';
      }
    });
  // Tạo ticket cho mình
  document
    .getElementById("addOwnTicket")
    .addEventListener("submit", async (e) => {
      e.preventDefault();
      const computerId = document.getElementById("computer_id").value;
      const type = document.getElementById("type").value;
    });
</script>
