<div class="container-fluid">
  <div class="row mt-2 ms-1 me-1">
    <ul class="breadcrumb rounded">
      <li><a href="#">Home</a></li>
      <li><a href="#">Departments</a></li>
    </ul>
  </div>
  <div class="row mt-2 mb-2 d-flex justify-content-between">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">User index</div>
        <div class="card-body">
          <table id="departmentListTable" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="departmentListTableBody"></tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3" id="addNewDept">
      <div class="card">
        <div class="card-header bg-primary-subtle">Add new Department</div>
        <div class="card-body">
          <form id="addDept">
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" />
            </div>
            <button type="submit" class="btn btn-outline-primary">
              Xác nhận
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="d-none col-md-3" id="addDept">
      <div class="card">
        <div class="card-header bg-primary-subtle">Edit Department</div>
        <div class="card-body">
          <form id="editDeptForm">
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" />
            </div>
            <button type="submit" class="btn btn-outline-warning">
              Cập nhật
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS DataTable -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.js"></script>
<script>
  new DataTable("#departmentListTable");
</script>

<!-- JS Load danh sách departments/ xóa department -->
<script>
  async function loadDepartmentList() {
    try {
      const res = await fetch("/departments/fetchDeptData");
      const data = await res.json();
      if (data.success) {
        const tbody = document.getElementById("departmentListTableBody");
        tbody.innerHTML = "";
        data.data.forEach((dept, index) => {
          const row = `
                <tr>
                    <td>${index + 1}</td>
                    <td>${dept.name}</td>
                    <td>
                        <a class="btn btn-info" href = "#"><i class="bi bi-eye"></i></a>  
                        <a class="btn btn-warning" href = "#"><i class="bi bi-pencil-square"></i></a> 
                        <a class="btn btn-danger" href = "#"><i class="bi bi-trash"></i></a>   
                    </td>
                </tr>`;
          tbody.innerHTML += row;
        });
      } else {
        alert(data.message || "Không thể tải danh sách");
      }
    } catch (err) {
      console.error("Lỗi fetch:", err);
    }
  }
  window.onload = loadDepartmentList;
</script>
