<div class="container-fluid">
  <div class="row mt-2 ms-1 me-1">
    <ul class="breadcrumb rounded">
      <li><a href="#">Home</a></li>
      <li><a href="#">Departments</a></li>
    </ul>
  </div>
  <div class="row mt-2 mb-2 d-flex justify-content-between">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">User index</div>
        <div class="card-body">
          <table id="departmentListTable" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="departmentListTableBody"></tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" id="addDept">
        <div class="card-header bg-primary-subtle">Add new Department</div>
        <div class="card-body">
          <form id="addDept">
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" />
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-outline-primary" id="btnAdd">
                Xác nhận
              </button>
            </div>
          </form>
          <div id="msg" class="mt-3"></div>
        </div>
      </div>
      <div class="card shadow d-none" id="editDept">
        <div class="card-header bg-warning-subtle">Edit Department</div>
        <div class="card-body">
          <form id="editDeptForm">
            <div class="form-group mb-3">
              <label for="nameEdit">Name</label>
              <input
                type="text"
                class="form-control"
                name="nameEdit"
                id="nameEdit"
              />
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-outline-secondary"
                onclick="cancelEdit()"
                id="btnReturn"
              >
                Hủy
              </button>
              <button
                type="submit"
                class="btn btn-outline-warning"
                id="btnUpdate"
              >
                Cập nhật
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS DataTable -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.js"></script>
<script>
  new DataTable("#departmentListTable");
</script>

<!-- JS Load danh sách departments/ xóa department -->
<script>
  async function loadDepartmentList() {
    try {
      const res = await fetch("/departments/fetchDeptData");
      const data = await res.json();
      if (data.success) {
        const tbody = document.getElementById("departmentListTableBody");
        tbody.innerHTML = "";
        data.data.forEach((dept, index) => {
          const row = `
                <tr>
                    <td>${index + 1}</td>
                    <td>${dept.name}</td>
                    <td>
                    <a class ="btn btn-info" href="/users/info/${
                      dept.id
                    }"><i class="bi bi-eye"></i></a>
                    <a href="#" class="btn btn-warning" onclick="switchToEdit(${
                      dept.id
                    })"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="#" onclick="deleteUser(${
                      dept.id
                    })"><i class="bi bi-trash"></i></a> 
                    </td>
                </tr>`;
          tbody.innerHTML += row;
        });
      } else {
        alert(data.message || "Không thể tải danh sách");
      }
    } catch (err) {
      console.error("Lỗi fetch:", err);
    }
  }
  window.onload = loadDepartmentList;
</script>
<!-- JS thêm mới Department -->
<script>
  document
    .getElementById("addDept")
    .addEventListener("submit", async function (e) {
      e.preventDefault();

      const name = document.getElementById("name").value.trim();
      const msg = document.getElementById("msg");

      function showMessage(html) {
        msg.innerHTML = html;
        setTimeout(() => {
          msg.innerHTML = "";
        }, 3000);
      }
      if (!name) {
        showMessage(
          `<div class = "alert alert-danger">Vui lòng nhập tên phong ban!</div>`
        );
        return;
      }

      try {
        const res = await fetch("/departments/addDept", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ name }),
        });

        const data = await res.json();

        if (data.success) {
          showMessage(
            `<div class = "alert alert-success">Thêm thành công!</div>`
          );
          document.getElementById("name").value = "";
          loadDepartmentList();
        } else {
          showMessage(
            `<div class = "alert alert-warning">${
              data.message || "Thêm thất bại"
            }</div>`
          );
        }
      } catch (err) {
        console.error("Lỗi thêm:", err);
        showMessage(
          `<div class = "alert alert-danger">Lỗi kết nối server</div>`
        );
      }
    });
</script>

<!-- JS load form edit -->
<script>
  let currentDeptId = null;

  async function switchToEdit(deptId) {
    currentDeptId = deptId;
    // Ẩn form add
    document.getElementById("addDept").classList.add("d-none");

    // Hiện form edit
    document.getElementById("editDept").classList.remove("d-none");

    try {
      const res = await fetch(`/departments/getDept/${deptId}`);
      const data = await res.json();

      if (data.success) {
        document.getElementById("nameEdit").value = data.data.name;
      } else {
        alert(data.message || "Không load được dữ liệu");
      }
    } catch (err) {
      console.error(err);
      alert("Lỗi kết nối server");
    }
  }
</script>

<!-- JS Hủy edit -->
<script>
  function cancelEdit() {
    // Ẩn form add
    document.getElementById("editDept").classList.add("d-none");

    // Hiện form edit
    document.getElementById("addDept").classList.remove("d-none");
  }
</script>
